table ,th ,td {
    border: 3px solid black;
    border-collapse: collapse;
    color: rgb(0, 0, 0);
}
th, td{
    padding: 5px;
}
#icerik p{
    margin-bottom: 50px;
}
#icerik h2{
    padding-bottom: 10px;
}
th{
    background-color: rgb(255, 162, 1);
}
td{
    background-color: rgb(255, 162, 1);
}